---
---

@import "{{ site.theme }}";

#text-content br {display: none;}
#text-content p br {display: inline;}

.line {
	display: inline-block;
}
.hidden {
	background-color: #000000;
}

.site-header {
	position: fixed;
	width: 100%;
	background: white;
}
.page-content {
	padding: 86px 0;
}

.site-title img {
	max-height: 25px;
	padding-bottom: 5px;
}
