---
---

@import "{{ site.theme }}";

#text-content br {display: none;}
#text-content p br {display: inline;}

.line {
	display: inline-block;
}
.hidden {
	background-color: #000000;
}

.site-header {
	position: fixed;
	width: 100%;
	background: white;
}
.page-content {
	padding: 86px 0;
}

.post-link {
	font-size: 22px;
}

.site-title img {
	max-height: 25px;
	padding-bottom: 5px;
}

table {
	table-layout: fixed;
}

table th, table td {
    padding: 8px 13px;
}

.collection {
	font-style: italic;
}

.icons {
	float: right;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
	table {
		width: 100%;
	}
	table, table tbody, table th, table td, table tr {
		display: block;
		overflow:hidden;
	}
	table td.title, table td.collection, table td.author {
		width: 100%;
	}
}
