---
---

@import "{{ site.theme }}";

#text-content br {display: none;}
#text-content p br {display: inline;}

.line {
	display: inline-block;
}
.hidden {
	background-color: #000000;
}

.site-header {
	position: fixed;
	width: 100%;
	background: white;
}
.page-content {
	padding: 86px 0;
}

.post-link {
	font-size: 22px;
}

.site-title img {
	max-height: 25px;
	padding-bottom: 5px;
}

table {
	table-layout: fixed;
}

table th, table td {
    padding: 8px 13px;
}

table td.title {
  width: 40%;
}
table td.collection {
  width: 20%;
}
table td.author {
  width: 13%;
}