---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.texts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Texts" }}</h2> -->
    <table class="post-list">
      {%- for text in site.texts -%}
      <tr>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <td><a class="post-link" href="{{ text.url | relative_url }}">
            {{ text.title | escape }}
          </a></td>
          <td><span class="post-meta">{{ text.author | escape }}</span></td>
      </tr>
      {%- endfor -%}
    </table>
  {%- endif -%}

</div>
