---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.texts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Texts" }}</h2> -->
    {% assign texts = site.texts | sort: 'date' | reverse %}
    <ul id="texts" class="post-list">
      {%- for text in texts -%}
        <li>
          <span class="title"><a class="post-link" href="{{ text.url | relative_url }}">
            {{ text.title | escape }}
          </a>
          <span class="icons">
            {%- if text.language_unicode -%}
            <img class="emoji" title="{{ text.language }}" alt="{{ text.language }}" src="https://github.githubassets.com/images/icons/emoji/unicode/{{ text.language_unicode }}.png" width="20" height="20">
            {%- else -%}
            {{ text.language }}
            {%- endif -%}
            {% assign progress = text.progress | default: 0 %}
            {% assign progress_bar = progress | divided_by: 25 | floor | times: 25 %}
            <img class="caption__media" src={{ "/assets/img/progress_" | append: progress_bar | append: ".svg" | relative_url }} alt="{{ progress }}%" title="{{ progress }}%" width="20" height="20"/>
          </span></span>
          <p class="post-meta">
          <span class="author"><a class="sort-link" href="?sort=author&order=asc">{{ text.author | escape }}</a></span> • 
          <span class="collection post-meta"><a class="sort-link" href="?sort=collection&order=asc">{{ text.published-in | escape }}</a></span>
          (<span class="publication-date post-meta"><a class="sort-link" href="?sort=publication-date&order=asc">{{ text.publication-date }}</a></span>)
        </p>
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
